@import "/vendor/filament/filament/resources/css/theme.css";
@config "tailwind.config.js";

/* Main::Start */

.fi-simple-layout {
    @apply !bg-gradient-to-br
        from-emerald-100 via-orange-50 to-amber-100
        dark:from-emerald-950 dark:via-orange-950 dark:to-amber-950;
}

.fi-layout {
    @apply !bg-gradient-to-br
        from-emerald-100 via-orange-50 to-amber-100
        dark:from-emerald-950 dark:via-orange-950 dark:to-amber-950;
}

.fi-main {
    @apply !px-2 md:px-2 lg:px-2 max-w-full;
}

/* Main::End */

/* Sidebar::Start */

.fi-topbar > nav {
    @apply !bg-inherit ring-0 shadow-none;
}

.fi-sidebar-header {
    @apply !ring-0;
}

.fi-sidebar-header > div {
    @apply w-full flex justify-center items-center pt-3;
}

.fi-sidebar > .overflow-x-clip {
    @apply mt-2 ml-2 mr-2 shadow-none lg:rounded-tr-3xl;
}

.fi-sidebar > .overflow-x-clip > .fi-sidebar-header {
    @apply bg-white dark:bg-gray-900 lg:rounded-tr-3xl;
}

.fi-sidebar > .fi-sidebar-nav {
    @apply bg-white dark:bg-gray-900 ml-2 mr-2 shadow-none;
}

.fi-sidebar-nav, .fi-sidebar-nav-groups {
    @apply !gap-y-0;
}

/* Sidebar::End */

/*****************/

.fi-ta-pagination {
    @apply flex justify-end;
}

.fi-ta-pagination .fi-pagination {
    @apply justify-end !important;
}

.fi-ta-pagination nav {
    @apply w-auto;
}

.fi-input-wrp {
    @apply focus-within:!ring-indigo-500 dark:focus-within:!ring-indigo-500 focus-within:!ring-1 dark:focus-within:!ring-1;
}

.fi-dropdown-panel[wire\:key*="table.filters.panel"] {
    @apply z-50 top-28 !important;
}


div[wire\:snapshot*='"name":"filament-language-switch"'] .fi-dropdown-panel {
    @apply !w-auto;
}
